*{
    box-sizing:border-box;
    
}

html{
    font-family: 'Inter', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: 95vh;
    background-color: #1A1B21;
}

h1{
    color: #FFFFFF;
    font-weight: 700;
    text-align: center;
    margin: 20px 0 0 0;
    padding: 0;
}

h3{
    color: #F3BF99;
    font-weight: 400;
    text-align: center;
    margin: 7px 0 0 0;
    padding: 0;
}

h4 {
    text-align: center;
    margin: 10px 0 0 0;
    padding: 0;
}

a{
    color: #F5F5F5;
    font-weight: 400;
    text-decoration: none;
}

.button-div{
    display: flex;
    justify-content: space-around;
    width: 80%;  
    margin: 20px auto 0 auto;

}

.button-email,
.button-linkedin {
    padding: 12px 55px;
    font-size: 15px;
    border-radius: 6px;
    border: none;
}

.button-linkedin{
    background-color: #5093E2;
    color: #FFFFFF;
}

.info-div{
    margin: 50px auto;
    width: 80%;
}

.info-title {
    color: #F5F5F5;
    margin: 0;
}

.paragraph {
    color: #DCDCDC;
    margin: 0 0 20px 0;
    line-height: 150%;
}